<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/resorts"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{Resorts.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img  src="assets/images/Photos/{{Resorts.cover}}.jpg"></ion-img>  
  <ion-card>
    
  <ion-item lines= "none">
    <ion-card-subtitle color="primary">Weather</ion-card-subtitle>
   </ion-item> 
   <ion-item lines= "none">
     <ion-grid>
      <ion-row>
        <ion-col>
      <ion-icon size= "large" name="partly-sunny-outline"></ion-icon>
    </ion-col>
    <ion-col>
     <ion-text>20C</ion-text>
    </ion-col>
    </ion-row>
    </ion-grid>
   </ion-item>
 
</ion-card>

</ion-content>
