<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/resorts"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{Resorts.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-item-center"> 
  <ion-img  src="assets/images/Photos/{{Resorts.cover}}.jpg"></ion-img>  
  <ion-card >
    
  <ion-item lines= "none">
    <ion-card-subtitle color="primary">Weather</ion-card-subtitle>
   </ion-item> 
   <ion-item lines= "none">
     <ion-grid>
      <ion-row class="ion-text-center" style="font-size: 3vw;" >
        <ion-col class="ion-text-center" size= "4">
          <ion-text>Partly cloudy</ion-text>
    </ion-col>
    <ion-col class="ion-text-center" size= "4">
          <ion-text>Wind</ion-text>
    </ion-col>
    <ion-col class="ion-text-center" size= "4">
          
          <ion-text>Temperature</ion-text>
     </ion-col>
    </ion-row >
      <ion-row class="ion-text-center">
        <ion-col class="ion-text-center" size= "4">
          <ion-icon size= "large" name="partly-sunny-outline"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-center" size= "4">
        <ion-text>3 m/s</ion-text>
    </ion-col>
    <ion-col class="ion-text-center" size= "4">
      <ion-text>20°C</ion-text>
     </ion-col>
    </ion-row>
    </ion-grid>
   </ion-item>
 
</ion-card>
<ion-item lines= "none" class="ion-item-center">
  <!-- <iframe  [src]="Resorts.urlvideo"  allowfullscreen></iframe> -->
  <iframe  [src]='VideoURL' frameborder="0"></iframe>
</ion-item>

</ion-content>


