
ion-card {
    margin-top: á,vw;
}

ion-grid ion-row {
    display: flex;
align-items: center;
justify-content: center;
}
ion-content{
    background-color:#fff;
  --background: url(../../../assets/images/TATRYsuperSKI_logo_TTS.png) no-repeat center center / contain;
}