


ion-grid ion-row {
    display: flex;
align-items: center;
justify-content: center;
}
ion-content{
    
  --background: url(../../../assets/images/TATRYsuperSKI_logo_TTS.png) no-repeat center center / contain;
  

}

@media (min-width: 1000px) and (max-width: 50000px) {
    ion-card{
      border-radius: 50px;
      margin-right: 20px;
      max-height: 200px;
    }

    
  }