ion-card ion-img {
    max-width: 30vw;
    height: 15vw;
}

ion-card{
    // box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7.5vw;
    backdrop-filter: blur(5px) contrast(.8);
    // overflow: hidden;
    background: rgba(255,255,255,0.7);
    box-shadow: none;
    
    
  }
  ion-content{
      background-color:#fff;
    --background: url(../../../assets/images/TATRYsuperSKI_logo_TTS.png) no-repeat center center / contain;
  }

ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
    
}

