<ion-content scrollEvents="true" (ionScroll)='onContentScroll($event)'>
  <ion-header class="ion-no-border" #header>
    <ion-toolbar >
      <!-- <ion-img src='assets/images/TATRYsuperSKI_logo_TTS.png' ></ion-img> -->
      <ion-title>Activity</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-self-center">
        ion-col
      </ion-col>
      <ion-col class="ion-align-self-center">
        ion-col
      </ion-col>
      <ion-col class="ion-align-self-center"> 
        ion-col
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-self-center">
        ion-col
      </ion-col>
      <ion-col class="ion-align-self-center">
        ion-col
      </ion-col>
      <ion-col class="ion-align-self-center"> 
        ion-col
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="map" #map></div>
</ion-content>
