ion-card-title{
    text-align: center;
}
ion-card-subtitle{
    font-size: x-small;
}
ion-card{
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7.5vw;
    overflow: hidden;
    background-color: var(--ion-color-primary);
    
  }

  @media (min-width: 800px) and (max-width: 50000px) {
    ion-card{
    border-radius: 50px;
    }
    
  }
  
