
<ion-content scrollEvents="true" (ionScroll)='onContentScroll($event)'>
  <ion-header class="ion-no-border" #header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-button (click)="onClick()">
         <ion-icon name="call-outline" size="large" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-img src='assets/images/TATRYsuperSKI_logo_TTS.png' style="align-self: center;" ></ion-img>
      <ion-buttons slot="end">
      <ion-button (click)="onClick()">
       <ion-icon name="cart-outline" size="large" ></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

</ion-content>
